[user]
  name  = hiramatsutaku
  email = hiramatsutaku@gmail.com

[core]
  editor = vi

[color]
  ui = auto

[alias]
  br = branch
  cm = commit -m
  co = checkout
  new = checkout -b
  st = status
  lo = log --oneline
  wb = "!f() { WORKTREE_PATH=../$(basename $(pwd))-${1}; git worktree add $WORKTREE_PATH $2; }; f"
  wd = worktree remove .

[core]
  excludesfile = ~/.gitignore_global
	quotepath = false

[ghq]
  root = /Users/hirataku/src

[include]
  path = .gitconfig.local
